.main-container {
    max-width: 320px;
    max-width: 510px;
    display: -webkit-flex; 
    display: flex; 
    flex-direction: column;
}

.info-block {
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row;
    flex-grow: 1;
    margin: 20px 20px 20px 20px;
}

.main-text {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #65b840;
    max-width: 40%;
}

.turn-button {
    background-color: #51c83f;
    border-radius: 5px;
}